/* Styles */
body {
    margin: 0;
}
.main {
    margin: 10px;
}
.priorityP{
    display:inline;
    padding-bottom: 10px;
}
.load{
    position: absolute;
    top:50%;
    right: 50%;
}
.remove{
    display: inline;
}
.avatar{
    border-radius: 30px;
    width: 40px;
    margin:10px 0;
}
.avatar-main{
    width: 75px;
    border-radius: 40px;
}

.line{
    display: inline
}
.bold{
    font-weight: bold;
}
