/* Styles */
body {
    margin: 0;
}
.main {
    margin: 10px;
}
.priorityP{
    display:inline;
    padding-bottom: 10px;
}
.load{
    position: absolute;
    top:50%;
    right: 50%;
}
.remove{
    display: inline;
}
